{% extends 'base.html.twig' %}
{% block body %}
    <section class="carousel-section section">
        <div class="owl-carousel owl-theme one-list">
            {% for car in car %}
                <div class="item">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12  bg-light  p-3" style="background-image: url('{% if car.img is empty %}{{ asset('img/car-bg.jpg') }}{% else %}{{ asset(car.img) }}{% endif %}')">
                                <h1>
                                    {{ car.title }}
                                </h1>
                                <h6>
                                    <ul class="carousel-menu">
                                        <li>{{ car.li1 }}</li>
                                        <li>{{ car.li2 }}</li>
                                        <li>{{ car.li3 }}</li>
                                    </ul>
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
    <section class="servis-section section">
        <div class="container pb-5">
            <div class="row pl-5 pr-5">
                <div class="col-12 mt-3 text-center pb-3">
                    <h2>{{ pageService.pageTitle }}</h2>
                    <p>{{ pageService.pageShortText }}</p>
                </div>
                <div class="owl-carousel owl-theme owl-top-services">
                    {% for ser in services %}
                        <div class="item">
                            <div class="cc  p-3 bg-light">
                                <img src="{{ asset(ser.img) }}" class="w-100">
                                <h5 class="pt-4 pb-2">{{ ser.title }}</h5>
                                <p class="pt-3 p-0">{{ ser.text|length > 95 ? ser.text|slice(0, 95) ~ '...' : ser.text }}</p>
                                <p class="pt-2 mb-0">
                                    <button class=" btn btn-primary ">
                                        <a class="pages" href="{{ path( 'service-view',{'id':ser.id} ) }}">
                                            {{ "Подробнее" | trans }}
                                        </a>
                                    </button>
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{#    <section class="news-section pt-4 pb-3 section">#}
{#        <div class="news container-fluid pl-5 pr-5 pt-3  pb-5">#}
{#            <div class="row">#}
{#                <div class="col-12 text-center mb-2">#}
{#                    <h2>{{ pageNews.pageTitle }}</h2>#}
{#                    <p>{{ pageNews.pageShortText }}</p>#}
{#                </div>#}
{#                <div class="carousel-inner">#}
{#                    <div class="owl-carousel owl-theme one-list1">#}
{#                        {% for new in new %}#}
{#                            <div class="item">#}
{#                                <div class="container-fluid">#}
{#                                    <div class="row">#}
{#                                        <div class="col-lg-4 offset-lg-0 col-md-10 col-sm-12 offset-md-1 p-lg-5 pt-3">#}
{#                                            <img src="{{ asset(new.img) }}" class="w-100">#}
{#                                        </div>#}
{#                                        <div class="col-lg-8 offset-lg-0 col-md-10 col-sm-12 offset-md-1 p-3">#}
{#                                            <h4 class="pt-4">{{ new.title }}</h4>#}
{#                                            <h6 class="pt-1">{{ new.text|length > 650 ? new.text|slice(0, 650) ~ '...' : new.text }}</h6>#}
{#                                            <button class="mt-2 btn btn-primary">#}
{#                                                <a class="pages"#}
{#                                                   href="{{ path('news-view',{'id':new.id} ) }}">{{ new.btn }}</a>#}
{#                                            </button>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        {% endfor %}#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}
{#    <section class="team-section section pt-4 m-0">#}
{#        <div class="team container pt-3 pb-3 ">#}
{#            <div class="row">#}
{#                <div class="col-12 text-center">#}
{#                    <h2>{{ pageAbout.pageTitle }}</h2>#}
{#                    <p>{{ pageAbout.pageShortText }}</p>#}
{#                </div>#}
{#                {% for about in about %}#}
{#                    <div class="col-lg-2 col-md-4 col-sm-4 col-6  offset-sm-1 offset-3#}
{#                                {% if  loop.index == 1 %} ml-lg-5 offset-md-1 {% endif %}#}
{#                                {% if loop.index > 1 and loop.index < 3 or loop.index > 3 %} offset-1 {% endif %}#}
{#                                 bg-light pt-3 pb-3 mt-4 text-center">#}
{#                        <h1>{{ about.title }}</h1>#}
{#                        <h5>{{ about.text }}</h5>#}
{#                    </div>#}
{#                {% endfor %}#}
{#            </div>#}
{#        </div>#}
{#    </section>#}
{#    <section class="ore-team-section section">#}
{#        <div class="container  p-5 ">#}
{#            <div class="row">#}
{#                <div class="col-12 text-center pb-3">#}
{#                    <h2>{{ pageTeam.pageTitle }}</h2>#}
{#                    <p>{{ pageTeam.pageShortText }}</p>#}
{#                </div>#}
{#                <div class="owl-carousel owl-theme owl-top-services">#}
{#                    {% for topTeam in topTeam %}#}
{#                        <div class="item p-5 p-lg-2 pt-lg-3 pb-lg-3 m-1">#}
{#                            <div class="col-lg-11 ml-2 m-auto mb-5"><img src="{{ asset(topTeam.img) }}"></div>#}
{#                            <div class="col-lg-10 m-auto text-center">#}
{#                                <h4>{{ topTeam.title }}</h4>#}
{#                                <h5>{{ topTeam.text }}</h5>#}
{#                                <p>{{ topTeam.short }}</p>#}
{#                            </div>#}
{#                            <div class="col-10 m-auto text-center">#}
{#                                <button class="btn btn-primary">#}
{#                                    <a href="{{ path('ourteam-view',{'id':topTeam.id} ) }}">{{ topTeam.btn }}</a>#}
{#                                </button>#}
{#                            </div>#}
{#                        </div>#}
{#                    {% endfor %}#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}
    <section class="contact-section section pb-5">
        <div class="layer"></div>
        <div class="contact container-fluid p-4">
            <div class="row">
{#                {% for cont in cont %}#}
                    <div class="col-12 text-center pt-3 mb-lg-5 mb-3">
                        <h2>{{ pageCont.pageTitle }}</h2>
                        <p>{{ pageCont.pageShortText }}</p>
                    </div>
                    <div class="col-12">
                        <div id="map"></div>
                    </div>
{#                    <div class="col-lg-5 offset-lg-0 ml-lg-4 mt-lg-0 col-md-10 offset-md-1  mt-md-5 mt-5 ">#}
{#                        <form action="{{ path('message') }}">#}
{#                            <div class="form-row">#}
{#                                <div class="form-group col-4">#}
{#                                    <label for="inputEmail">#}
{#                                        {{ cont.input }}#}
{#                                    </label>#}
{#                                    <input type="email" class="form-control" id="inputEmail" name="email"#}
{#                                           placeholder="{{ cont.input }}">#}
{#                                </div>#}
{#                                <div class="form-group col-4">#}
{#                                    <label for="inputName">#}
{#                                        {{ cont.input2 }}#}
{#                                    </label>#}
{#                                    <input type="text" class="form-control" id="inputName" name="name"#}
{#                                           placeholder="{{ cont.input2 }}">#}
{#                                </div>#}
{#                                <div class="form-group col-4">#}
{#                                    <label for="inputAddress">#}
{#                                        {{ cont.input3 }}#}
{#                                    </label>#}
{#                                    <input type="text" class="form-control" id="inputAddress" name="address"#}
{#                                           placeholder="{{ cont.input3 }}">#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="form-row">#}
{#                                <div class="form-group col-6">#}
{#                                    <label for="inputCity">#}
{#                                        {{ cont.input4 }}#}
{#                                    </label>#}
{#                                    <input type="text" class="form-control" id="inputCity" name="city"#}
{#                                           placeholder=" {{ cont.input4 }} ">#}
{#                                </div>#}
{#                                <div class="form-group col-6">#}
{#                                    <label for="inputState">#}
{#                                        {{ cont.input5 }}#}
{#                                    </label>#}
{#                                    <input type="text" class="form-control" id="inputState" name="state"#}
{#                                           placeholder="{{ cont.input5 }}">#}
{#                                </div>#}
{#                                <div class="form-group col-sm-6 col-12">#}
{#                                    <label for="inputMessage">#}
{#                                        {{ cont.messege }}#}
{#                                    </label>#}
{#                                    <textarea type="text" class="form-control" id="inputMessage" name="message" rows="2"#}
{#                                              placeholder="{{ cont.messege }}">#}
{#                                    </textarea>#}
{#                                </div>#}
{#                                <button class="btn btn-primary mt-lg-5 mt-3 ml-2 ml-lg-5 ">{{ cont.btn }}</button>#}
{#                                {% if app.session is not null and app.session.started %}#}
{#                                    {% for label, messages in app.session.flashbag.all %}#}
{#                                        {% for message in messages %}#}
{#                                            <h4 class="flash-message flash-{{ label }}">{{ message }}</h4>#}
{#                                        {% endfor %}#}
{#                                    {% endfor %}#}
{#                                {% endif %}#}
{#                            </div>#}
{#                        </form>#}
{#                    </div>#}
{#                {% endfor %}#}
            </div>
        </div>
    </section>
    <section class="footer-section section">
        {{ render(controller('AppBundle:Default:footer')) }}
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD74VFI8DTOeAaUT3xTSmfuY_XOJ0Hoozg&callback=initMap"
            async defer></script>
{% endblock javascripts %}