{% extends 'base.html.twig' %}
{% block body %}
    <section class="servis-section page section">
        <div class="servis servis-page mt-15 container mb-5 pb-4">
            <div class="row">
                <div class="col-12 mt-3 text-center">
                    <h2>{{ pageService.pageTitle }}</h2>
                    <p>{{ pageService.pageShortText }}</p>
                </div>
                <div class="all-wrap">
                    {% for ser in services %}
                        <div class="col-lg-4 col-md-6 mt-5 col-12 text-center p-3 ">
                            <div class="cc  p-3 bg-light">
                                <img src="{{ asset(ser.img) }}" class="w-100">
                                <h5 class="pt-4 pb-2">{{ ser.title }}</h5>
                                <p class="pt-3 p-0">{{ ser.text|length > 95 ? ser.text|slice(0, 95) ~ '...' : ser.text }}</p>
                                <p class="pt-2 mb-0">
                                    <button class=" btn btn-primary ">
                                        <a href="{{ path( 'service-view',{'id':ser.id} ) }}">
                                            {{ "Подробнее" | trans }}
                                        </a>
                                    </button>
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <section class="footer-section section">
        {{ render(controller('AppBundle:Default:footer')) }}
    </section>
{% endblock %}
